{{> head }}

{{> navbar }}

<div class="row container m-3">
    <div class="col-8">
        <h1>Título</h1>
        <p>
            Vegeta (ベジータ Bejīta?) es un personaje ficticio perteneciente a la raza llamada saiyajin, del manga y anime Dragon Ball. Su nombre proviene de su padre, el rey Vegeta, así como de su planeta de origen, el cual recibió su nombre tras su conquista por parte de los saiyajin. El nombre Vegeta es una deformación del inglés Vegetable (ベジタブル Begitaburu?, Vegetal).

            Vegeta fue el antagonista principal de Dragon Ball Z hasta el comienzo de la saga de Freezer, posteriormente se convirtió en el deuteragonista de la serie .
        </p>
        
    </div>
    <div class="col-4">
        <img src="/assets/img/vegeta.png" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}